body, html {
  height: 100%;
}

body {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.logo {
  font-family: 'Shrikhand', cursive;
  font-size: 2em;
  position: relative;
  float: left;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.content {
  height: 100%;
  position: relative;

}

div.content p {
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 1.5em;
  margin: 0;
  color: white;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
