body, html {
  height: 100%;
}

body {
  {{url('/images/background.jpg')}}
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.logo {
  font-family: 'Rubik', sans-serif;
  position: relative;
  float: left;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.content {
  height: 45em;
  position: relative;

}

div.content p {
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 0;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
